body {
    background: url(standard\ \(2\).gif);
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }

.img img {
    max-width: 100%;
    max-height: 100%;
}
